In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\kzhg1\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\kzhg1\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\kzhg1\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\kzhg1\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kzhg1\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\kzhg1\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [2]:
import nltk 
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import words

import pandas as pd
import numpy as np

In [3]:
nltk.download("wordnet")
nltk.download('words')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kzhg1\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\kzhg1\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\kzhg1\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [4]:
words.fileids()

['en', 'en-basic']

In [5]:
lexicon = words.words('en')
lexicon = pd.DataFrame(lexicon)
lexicon

                 0
0                A
1                a
2               aa
3              aal
4            aalii
...            ...
235881      zythem
235882      Zythia
235883      zythum
235884     Zyzomys
235885  Zyzzogeton

[235886 rows x 1 columns]

<h3>Stemmer</h3>

In [6]:
Stemmer = PorterStemmer()

In [7]:
lexicon

                 0
0                A
1                a
2               aa
3              aal
4            aalii
...            ...
235881      zythem
235882      Zythia
235883      zythum
235884     Zyzomys
235885  Zyzzogeton

[235886 rows x 1 columns]

In [8]:
lexicon = lexicon[0].str.lower()

In [9]:
lexicon

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235886, dtype: object

In [10]:
for i in range(0,len(lexicon)):
    string = Stemmer.stem(lexicon[i])
    lexicon[i] = string

In [11]:
lexicon = np.unique(lexicon)

In [12]:
lexicon

array(['a', 'aa', 'aal', ..., 'zythum', 'zyzomi', 'zyzzogeton'],
      dtype=object)

In [13]:
lexicon = pd.DataFrame(lexicon)

In [14]:
lexicon

                 0
0                a
1               aa
2              aal
3            aalii
4              aam
...            ...
178303      zythem
178304      zythia
178305      zythum
178306      zyzomi
178307  zyzzogeton

[178308 rows x 1 columns]

In [16]:
Stemmer.stem("history")

'histori'

In [ ]:
# 57578 words are removed by the stemmer