In [1]:
import pandas as pd
import numpy as np

from dateutil.relativedelta import relativedelta

<h1> Extension </h1>

In [2]:
df_returns = pd.read_excel('controls_full_no0/data_filtered_control_return.xlsx')
df_fluency = pd.read_excel('controls_full_no0/data_filtered_control_fluency.xlsx')
df_marketcaps = pd.read_excel('controls_full_no0/data_filtered_control_size.xlsx')

df = pd.merge(df_returns, pd.merge(df_fluency, df_marketcaps, on=['Date', 'Ticker Symbol']), on=['Date', 'Ticker Symbol'])
df

,Ticker Symbol,Date,Monthly Total Return,Fluency,Market Capitalization
0,AIR,2013-01-31,1.311563,470.614746,7.484958e+08
1,AIR,2013-02-28,-6.790451,470.614746,6.976696e+08
2,AIR,2013-03-31,4.667046,470.614746,7.306899e+08
3,AIR,2013-04-30,-2.474171,470.614746,7.096314e+08
4,AIR,2013-05-31,12.318029,470.614746,7.970440e+08
...,...,...,...,...,...
113995,LYB,2022-08-31,-5.531867,470.514648,2.707510e+10
113996,LYB,2022-09-30,-9.301205,470.514648,2.455679e+10
113997,LYB,2022-10-31,1.554198,470.514648,2.489395e+10
113998,LYB,2022-11-30,12.753434,470.514648,2.768130e+10
113999,LYB,2022-12-31,-2.329138,470.514648,2.703656e+10

<h1> Rebalancing Monthly </h1>

In [3]:
# size of splits
split_size = 300
split_fluency = 30

In [4]:
# formation dates
months = df['Date'][0:120]   
for date in months:
    print(date)

2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00
2020-12-31 00:00:00
2021-01-31 00:00:00
2021-02-28 00:00:00
2021-03-31 00:00:00
2021-04-30 00:00:00
2021-05-31 00:00:00
2021-06-30 00:00:00
2021-07-31 00:00:00
2021-08-31 00:00:00
2021-09-30 00:00:00
2021-10-31 00:00:00
2021-11-30 00:00:00
2021-12-31 00:00:00
2022-01-31 00:00:00
2022-02-28 00:00:00
2022-03-31 00:00:00
2022-04-30 00:00:00
2022-05-31 00:00:00
2022-06-30 00:00:00
2022-07-31 00:00:00
2022-08-31 00:00:00
2022-09-30 00:00:00
2022-10-31 00:00:00
2022-11-30 00:00:00
2022-12-31 00:00:00

In [5]:
big_fluent_portfolio = []
big_nonfluent_portfolio = []
small_fluent_portfolio = []
small_nonfluent_portfolio = []

for date in months:
     
    # get all stocks at this date and sort it from big to small
    stocks_at_this_date = df[df['Date'] == date].sort_values(by='Market Capitalization', ascending=False)
    
    # store biggest and smallest stocks
    biggest_stocks = stocks_at_this_date.head(split_size)
    smallest_stocks = stocks_at_this_date.tail(split_size)
    
    # now sort on fluency from high to low
    sorted_biggest = biggest_stocks.sort_values(by='Fluency', ascending=False)
    sorted_smallest = smallest_stocks.sort_values(by='Fluency', ascending=False)
    
    # form portfolios of size 30 at DATE
    big_fluent = sorted_biggest.head(split_fluency)['Ticker Symbol']
    big_nonfluent = sorted_biggest.tail(split_fluency)['Ticker Symbol']
    
    small_fluent = sorted_smallest.head(split_fluency)['Ticker Symbol']
    small_nonfluent = sorted_smallest.tail(split_fluency)['Ticker Symbol']
    
    # this is DATE + a month
    next_month = date + relativedelta(months=2, day=1, days=-1)                     #<== add 2 months, start at first day and substact 1 day to get end of next month
    df_next_month = df[df['Date'] == next_month]
    
    
    # calculate the returns and append the portfolios
    return_big_fluent = df_next_month[df_next_month['Ticker Symbol'].isin(big_fluent)]['Monthly Total Return'].mean()
    return_big_nonfluent = df_next_month[df_next_month['Ticker Symbol'].isin(big_nonfluent)]['Monthly Total Return'].mean()
    return_small_fluent = df_next_month[df_next_month['Ticker Symbol'].isin(small_fluent)]['Monthly Total Return'].mean()
    return_small_nonfluent = df_next_month[df_next_month['Ticker Symbol'].isin(small_nonfluent)]['Monthly Total Return'].mean()
    
    big_fluent_portfolio.append(return_big_fluent)
    big_nonfluent_portfolio.append(return_big_nonfluent)
    small_fluent_portfolio.append(return_small_fluent)
    small_nonfluent_portfolio.append(return_small_nonfluent)

In [6]:
dates = []
for date in months:
    dates.append(date + relativedelta(months=2, day=1, days=-1))

dates

[Timestamp('2013-02-28 00:00:00'),
 Timestamp('2013-03-31 00:00:00'),
 Timestamp('2013-04-30 00:00:00'),
 Timestamp('2013-05-31 00:00:00'),
 Timestamp('2013-06-30 00:00:00'),
 Timestamp('2013-07-31 00:00:00'),
 Timestamp('2013-08-31 00:00:00'),
 Timestamp('2013-09-30 00:00:00'),
 Timestamp('2013-10-31 00:00:00'),
 Timestamp('2013-11-30 00:00:00'),
 Timestamp('2013-12-31 00:00:00'),
 Timestamp('2014-01-31 00:00:00'),
 Timestamp('2014-02-28 00:00:00'),
 Timestamp('2014-03-31 00:00:00'),
 Timestamp('2014-04-30 00:00:00'),
 Timestamp('2014-05-31 00:00:00'),
 Timestamp('2014-06-30 00:00:00'),
 Timestamp('2014-07-31 00:00:00'),
 Timestamp('2014-08-31 00:00:00'),
 Timestamp('2014-09-30 00:00:00'),
 Timestamp('2014-10-31 00:00:00'),
 Timestamp('2014-11-30 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2015-01-31 00:00:00'),
 Timestamp('2015-02-28 00:00:00'),
 Timestamp('2015-03-31 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-05-31 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2015-07-31 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-31 00:00:00'),
 Timestamp('2015-11-30 00:00:00'),
 Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-12-31 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2018-02-28 00:00:00'),
 Timestamp('2018-03-31 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-05-31 00:00:00'),
 Timestamp('2018-06-30 00:00:00'),
 Timestamp('2018-07-31 00:00:00'),
 Timestamp('2018-08-31 00:00:00'),
 Timestamp('2018-09-30 00:00:00'),
 Timestamp('2018-10-31 00:00:00'),
 Timestamp('2018-11-30 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-31 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-31 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timestamp('2022-10-31 00:00:00'),
 Timestamp('2022-11-30 00:00:00'),
 Timestamp('2022-12-31 00:00:00'),
 Timestamp('2023-01-31 00:00:00')]

In [7]:
returns = {'Date': dates, 
        'Big Fluent': big_fluent_portfolio, 
        'Big Non Fluent': big_nonfluent_portfolio, 
        'Small Fluent': small_fluent_portfolio, 
        'Small Non Fluent': small_nonfluent_portfolio}

returns = pd.DataFrame(returns)
returns

          Date  Big Fluent  Big Non Fluent  Small Fluent  Small Non Fluent
0   2013-02-28    0.365857        0.022232      0.169700          0.228367
1   2013-03-31    3.349352        3.269362      4.780803          2.348206
2   2013-04-30    2.753329        2.203233     -0.753528          1.171974
3   2013-05-31    0.829585        2.221622      2.475438          5.881862
4   2013-06-30   -1.259303       -0.860105     -0.962786         -0.442549
..         ...         ...             ...           ...               ...
115 2022-09-30  -10.192079       -8.830876    -10.312393        -11.513708
116 2022-10-31    8.694578       10.188412     11.805493         12.541613
117 2022-11-30    7.810526        5.217262      7.522869          4.898558
118 2022-12-31   -4.112279       -4.513110     -4.652810         -6.975004
119 2023-01-31         NaN             NaN           NaN               NaN

[120 rows x 5 columns]

In [32]:
#returns.to_excel('controls_full_no0/zzz_extension_returns_frame.xlsx')

<h1> Statistical Test </h1>

In [8]:
import scipy.stats as stats
from scipy.stats import wilcoxon
from statsmodels.stats.descriptivestats import sign_test

In [9]:
big_fluent = returns['Big Fluent']
big_fluent = big_fluent.to_list()

big_nonfluent = returns['Big Non Fluent']
big_nonfluent = big_nonfluent.to_list()

small_fluent = returns['Small Fluent']
small_fluent = small_fluent.to_list()

small_nonfluent = returns['Small Non Fluent']
small_nonfluent = small_nonfluent.to_list()

<h3> Wilcoxon </h3>

In [28]:
statistic, p_value = wilcoxon(small_nonfluent, small_fluent, alternative='greater')              # H0: x-y = 0       H1: x-y > 0
print("Wilcoxon Statistic: " + str(statistic) + "\np-value: "  + str(p_value))

Wilcoxon Statistic: 3583.0
p-value: 0.486249769751298

In [27]:
small_fluent

[0.16969977484200546,
 4.780802724098949,
 -0.7535277403662212,
 2.475437503968838,
 -0.9627861770850379,
 7.285252007645062,
 -1.083718410954409,
 4.985975313470304,
 2.4081786486504955,
 2.6196770697748715,
 1.4028047175836444,
 -2.9527664790736554,
 3.1973051480994514,
 -0.057092328226786206,
 -1.218693512979598,
 0.7558134781174835,
 4.117450298851323,
 -4.222144665845412,
 3.863758497388203,
 -5.1628780996990296,
 5.575988059654261,
 0.1403958411574602,
 -0.07127605098114718,
 -0.6829279926425492,
 4.295809230435054,
 -0.9089278865668242,
 -0.4939032375323521,
 -2.1948978531515375,
 1.3887060492911194,
 -0.15316746934576192,
 -4.707440493519725,
 -4.234483687001612,
 3.2321621659709394,
 -1.003752413807418,
 -7.316489044907566,
 -2.2472907202761534,
 2.651519810049294,
 9.300858197748036,
 8.384028208495602,
 2.5525210406316106,
 3.9908630657198167,
 3.924876248118963,
 2.431922731265636,
 1.2575870640158098,
 -4.13408940611497,
 8.560375090492554,
 2.498964717933854,
 1.978768800524039,
 -0.12596355005353518,
 -2.1989076757248993,
 1.5654251963224877,
 -2.900391534987745,
 1.1033401295879879,
 0.6064183932956569,
 -3.0573704158360036,
 7.726262197440921,
 1.8995437167255969,
 5.400814035207201,
 0.6926542618753738,
 1.146728093691961,
 -3.2055137817627406,
 3.2770815150534194,
 5.7677070159585915,
 4.135317055734844,
 2.546427019240324,
 1.333670176491511,
 3.1403137458918176,
 -3.276882512275654,
 -4.167284307739879,
 1.0591410414119906,
 -10.025637609270843,
 10.371846087026052,
 5.36812249843292,
 -1.7756954004699683,
 1.7769835937037712,
 -6.724764208164814,
 6.350008367118028,
 1.360075178336968,
 -6.381864113736467,
 6.539875715958764,
 -3.2723501502552725,
 4.6247063099242585,
 4.3182383920868315,
 -4.042739682390449,
 -6.832035279096141,
 -33.90050767169399,
 30.373732598264077,
 1.958569401559669,
 5.296110610328811,
 2.493783474509178,
 7.115176388154712,
 -6.774374665475501,
 0.8898512892354314,
 29.16681313159912,
 10.761262602157817,
 7.050343263169881,
 8.736360899117653,
 5.473650320231912,
 4.177525758259935,
 3.345424313886234,
 4.341420972475033,
 -3.9824288183711336,
 1.592357015680379,
 1.4387695230673794,
 4.34506920269193,
 -5.548924166042553,
 3.6787844020244562,
 0.7024984136228435,
 2.742058236507398,
 6.434771541109863,
 -5.464467522027021,
 2.912605865386757,
 -12.43096631954311,
 12.90021200479083,
 -0.3925635697315818,
 -10.312393059810159,
 11.805493420227377,
 7.522868772078473,
 -4.652810204482884,
 nan]